body {
	font-family: 'Gowun Dodum', sans-serif;
	background-color: #f5f5f5;
	margin-top: 0em;
	margin-bottom: 0em;
	color: black;
	margin: 0 auto;
}

#dv-header {
	float: left;
	width: 100%;
	background-color: #f5f5f5;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	position: fixed;
	top: 0;
	z-index: 1000;
}

#h1-webname {
	font-size: 40px;
	font-family: 'Style Script', cursive;
	margin: 0 auto;
	display: inline;
	color: black;
	margin-left: 0.3em;
}

#bt-home {
	display: inline;
	background: rgb(0, 0, 0, 0);
	border: none;
	font-size: 25px;
	padding: 0.5em 1em 0.5em 1em;
	vertical-align: top;
	margin-left: 5em;
}

#bt-about {
	display: inline;
	background: rgb(0, 0, 0, 0);
	border: none;
	font-size: 25px;
	padding: 0.5em 1em 0.5em 1.5em;
	margin-left: 1em;
	vertical-align: top;
	margin-left: 5em;
}

#bt-faqs {
	display: inline;
	background: rgb(0, 0, 0, 0);
	border: none;
	font-size: 25px;
	padding: 0.5em 1em 0.5em 1.5em;
	margin-left: 1em;
	vertical-align: top;
	margin-left: 5em;
}

#bt-contact {
	display: inline;
	background: rgb(0, 0, 0, 0);
	border: none;
	font-size: 25px;
	padding: 0.5em 1em 0.5em 1.5em;
	margin-left: 1em;
	vertical-align: top;
	margin-left: 5em;
}

#dv-header a {
	text-decoration: none;
	color: black;
}

#dv-header button:hover {
	cursor: pointer;
	transform: scale(1.3);
	transition: transform 0.7s ease;
}

#bt-lm {
	font-size: 30px;
	color: black;
	vertical-align: top;
	margin-top: 0.5em;
	margin-left: 0.5em;
	cursor: pointer;
	margin-left: 3em;
}

#bt-dm {
	font-size: 30px;
	color: black;
	vertical-align: top;
	margin-top: 0.5em;
	margin-left: 0.5em;
	cursor: pointer;
	margin-left: 3em;
}

#bt-lm:hover,
#bt-dm:hover {
	transform: scale(1.3);
	transition: transform 0.7s ease;
}

#dv-websitedesc {
	float: left;
	width: 100%;
	margin-top: 3em;
	padding-bottom: 7em;
	height: 100vh;
	background-image: url('/Images/webbg.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}


#dv-wwhat {
	float: left;
	width: 15%;
	transform: rotate(-9.5deg);
	margin-left: 7em;
	margin-top: 8em;
}

#h4-wwdesc {
	display: inline;
	font-family: 'Style Script', cursive;
	font-size: 30px;
}

#dv-wwans {
	float: left;
	width: 15%;
	transform: rotate(-9.5deg);
	margin-left: -14em;
	margin-top: 9em;
	text-align: center;
}

#p-wwansp {
	font-size: 25px;
	color: gold;
}

#dv-wwhy {
	float: left;
	width: 15%;
	transform: rotate(9.5deg);
	margin-left: 13em;
	margin-top: 24em;
}

#h4-wwhdesc {
	display: inline;
	font-family: 'Style Script', cursive;
	margin-left: 1em;
	font-size: 30px;

}

#dv-wwhans {
	float: left;
	width: 17%;
	transform: rotate(9.5deg);
	margin-left: -17.5em;
	margin-top: 26em;
	text-align: center;
}

#p-wwhansp {
	font-size: 20px;
	color: gold;
}

#dv-lspace {
	float: left;
	width: 11%;
	height: 50em;
	margin-top: 1em;
	background-color: #f5f5f5;
}

#dv-rspace {
	float: left;
	width: 11%;
	height: 50em;
	margin-top: 1em;
	background-color: #f5f5f5;
}

#dv-project {
	float: left;
	width: 71.6%;
	margin-top: 1em;
	padding: 3em;
	background-color: #f5f5f5;
	margin-bottom: 1em;
}

#dv-project sub {
	margin-left: 85px;
	font-size: 20px;
}

#dv-createqr {
	float: left;
	width: 31%;
	transition: transform 0.7s ease;
	border-radius: 6%;
	padding-top: 2em;
	padding-bottom: 2.7em;
	margin-left: 5em;
	border: 1px solid black;
	margin-bottom: 5em;
}

#a-createqr {
	text-decoration: none;
	color: black;
}

#dv-createqr:hover {
	cursor: pointer;
	background: #000000;
	color: #f5f5f5;
	border: none;
	transform: rotate(-5deg) scale(1.3);
}

#h2-createqr {
	font-family: 'Style Script', cursive;
	margin-left: 2.5em;
	font-size: 35px;
	border-bottom: 2px solid red;
	padding-bottom: 5px;
	width: 135px;
}

#dv-createqr:hover #h2-createqr {
	border-bottom: 2px solid #3a8abe;
}

#p-createqr {
	margin-left: 0.7em;
	font-size: 20px;
}

#dv-decodeqr {
	float: right;
	width: 31%;
	transition: transform 0.8s ease;
	border-radius: 6%;
	padding-top: 2em;
	margin-right: 5em;
	padding-bottom: 2em;
	border: 1px solid black;
	margin-bottom: 5em;
}

#a-decodeqr {
	text-decoration: none;
	color: black;
}

#dv-decodeqr:hover {
	cursor: pointer;
	background: #000000;
	color: #f5f5f5;
	border: none;
	transform: rotate(5deg) scale(1.3);
}

#h2-decodeqr {
	font-family: 'Style Script', cursive;
	margin-left: 2.5em;
	font-size: 35px;
	border-bottom: 2px solid red;
	padding-bottom: 5px;
	width: 156px;
}

#dv-decodeqr:hover #h2-decodeqr {
	border-bottom: 2px solid #3a8abe;
}

#p-decodeqr {
	margin-left: 1.3em;
	font-size: 20px;
}

#dv-contact {
	float: left;
	width: 90%;
	margin-top: 2em;
	margin-bottom: 3em;
	padding-left: 9em;
	position: relative;
}

#h1-contact {
	font-family: 'Style Script', cursive;
	margin-left: 15em;
	font-size: 35px;
	border-bottom: 2px solid red;
	padding-bottom: 5px;
	width: 140px;
	margin-bottom: 2em;
	text-align: center;
}

#dv-conimg {
	float: left;
	width: 35%;
	background-color: #b8b8b8;
	border-radius: 10%;
	padding: 1em 0em 1em 2em;
	margin-left: 3em;
	position: absolute;
}

#im-conmsg {
	height: 750px;
  width: 500px;
}

#dv-conform {
	float: left;
	width: 83%;
	background-color: black;
	padding-bottom: 6em;
	margin-top: 5em;
	margin-left: 3em;
	text-align: right;
	border-radius: 4%;
}


#h2-conform {
	margin-right: 9em;
	color: white;
	text-decoration: underline solid red 5%;
	width: 180px;
	float: right;
	margin-bottom: 1.5em;
}

#dv-conformleft {
	float: left;
	width: 60%;
	text-align: right;
}

#dv-conformright {
	float: left;
	width: 40%;
}

#in-conname {
	width: 75%;
	padding: 12px;
	border: 2px solid gold;
	border-radius: 6px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 65px;
	resize: vertical;
	background-color: #101d2d00;
	color: white;
	outline: none;
	margin-right: 4em;
	font-family: 'Gowun Dodum', sans-serif;
}

#in-conmail {
	width: 75%;
	padding: 12px;
	border: 2px solid gold;
	border-radius: 6px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 65px;
	resize: vertical;
	background-color: #101d2d00;
	color: white;
	outline: none;
	margin-right: 4em;
	font-family: 'Gowun Dodum', sans-serif;
}

#tx-confeedback {
	width: 75%;
	height: 225px;
	padding: 12px;
	border: 2px solid gold;
	border-radius: 6px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 65px;
	resize: vertical;
	background-color: #101d2d00;
	color: white;
	outline: none;
	margin-right: 4em;
	font-family: 'Gowun Dodum', sans-serif;
}

#bt-contactsub {
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin: 1em;
	margin-right: 17em;
	background-color: #101d2d00;
	border: 2px solid gold;
	font-family: 'Gowun Dodum', sans-serif;
}

#bt-contactsub:hover {
	background-color: gold;
	color: black;
}

#h3-conname {
	padding-bottom: 3em;
	padding-right: 2.7em;
	padding-top: 3.5em;
	margin: 0 auto;
	color: gold;
}

#h3-conmail {
	padding-bottom: 4em;
	padding-right: 1.8em;
	padding-top: 1.3em;
	margin: 0 auto;
	color: gold;
}

#h3-confeedback {
	padding-bottom: 1em;
	padding-right: 1em;
	padding-top: 1em;
	margin: 0 auto;
	color: gold;
}

#h3-conrating {
	padding-bottom: 4em;
	padding-right: 2.3em;
	padding-top: 1.3em;
	margin: 0 auto;
	color: gold;
}

#bt-starrating1,
#bt-starrating2,
#bt-starrating3,
#bt-starrating4,
#bt-starrating5 {
	color: white;
	font-size: 35px;
	padding-right: 37px;
}

#bt-starrating1:hover,
#bt-starrating2:hover,
#bt-starrating3:hover,
#bt-starrating4:hover,
#bt-starrating5:hover,
#bt-starrating1.hovered,
#bt-starrating2.hovered,
#bt-starrating3.hovered,
#bt-starrating4.hovered,
#bt-starrating5.hovered {
	color: gold;
	cursor: pointer;
}


#li-constar {
	display: inline;
}

#dv-conformright ul {
	margin-right: 1em;
	padding-bottom: 3em;
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 100,
		'wght' 700,
		'GRAD' 200,
		'opsz' 48
}

#dv-footer {
	float: left;
	width: 100%;
	text-align: center;
	background-color: black;
	padding: 0.5em 0em 0.5em 0em;
}

#bt-copyright {
	color: white;
	font-size: 25px;
}

#p-footer {
	color: white;
	display: inline;
	vertical-align: top;
	margin-left: 0.5em;
}

#dv-footer a {
	text-decoration: none;
	color: white;
}